    .classes {
        margin: 0 auto;
    }

    .classes-inner {
        @include container;
    }

    .classes-title {
        @include h2;
    }

    .classes-list {
        display: flex;
    }

    .title {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .classes-item {
        padding: 15px;
        margin-bottom: 100px;
        flex-direction: column;
        width: 33.33%;
        font-family: "Open Sans", sans-serif;
    }

    .class-card {
        align-items: center;
    }

    // .class-main {
    //     flex-grow: 1;
    // }
    .class-main ul {
        margin: 0;
        padding: 10px;
        list-style: none;
    }

    .class-text-item {
        padding: 0;
        font-size: 20px;
        line-height: 16px;
        text-align: center;
        color: #152b3c;
    }

    .class-text {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #152b3c;
    }

    .class-text-item span {
        font-weight: 700;
        color: $after-main-color;
    }

    .class-price {
        margin: 0 auto;
        padding: 5px;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        color: $after-main-color;
    }

    .class-btn {
        margin-top: auto;
    }
