    .classes {
        margin: 0 auto;
        padding: $section-indent 0;
        background-color: rgba(251, 242, 218, 0.2);
    }

    .classes-inner {
        @include container;
    }

    .classes-title {
        @include h2;
    }

    .classes-list {
        display: flex;
        margin-left: -16px;
        margin-right: -16px;
    }

    .classes-item {
        display: flex;
        padding: 0 16px;
        width: 33%;
        font-family: "Open Sans", sans-serif;
    }

    .class-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border: 1px solid rgba(21, 43, 60, 0.1);
        border-radius: 8px;
    }

    .card-image {
        object-fit: fill;
    }

    .card-main {
        margin-right: 16px;
        margin-left: 16px;
        flex-grow: 1;
    }

    .card-title {
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    .card-main-text {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #152b3c;
    }

    .card-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .card-list-item {
        padding: 5px;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        color: #152b3c;
    }

    .card-list-item span {
        font-weight: 700;
        color: $after-main-color;
    }

    .class-price {
        margin: 0 auto;
        padding: 5px;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        color: $after-main-color;
    }

    .class-btn {
        margin-top: auto;
    }
