.contacts {
    padding-top: 100px;
    padding-bottom: 110px;
}

.contacts-inner {
    @include container;
}

.contacts-desc {
    width: 100% / 12 * 7;
}

.contacts-title {
    @include h2;
}

.contacts-content {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.form-contact {
    width: 100% / 12 * 7;
}

// Форма
.form-contact {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.form-contact-field {
    width: 100%;
    margin-top: 45px;
    padding-left: 16px;
    padding-right: 16px;
}

.form-contact-field-half {
    width: 50%;
}

.form-contact-input {
    width: 100%;
    padding: 21px 36px;
    font-size: 16px;
    line-height: 28px;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.textarea {
    font-family: inherit;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    padding: 20px 50px;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: #e5e5e5;
}