.contacts {
    color: #152b3c;
}

.contacts-inner {
    @include container;
    a {
        color: $after-main-color;
    }
}

.contacts-desc {
    text-align: center;
    font-size: 20px;
    line-height: 27px;
}

.contacts-title {
    @include h2;
}

.contacts-title-notion {
    padding-right: 120px;
    padding-left: 120px;
}

.contacts-content {
    display: flex;
    justify-content: space-between;
}

.form-contact {
    width: 100% / 12 * 8;
    margin-left: 200px;
    margin-bottom: 100px;
}

// Форма
.form-contact {
    display: flex;
    flex-wrap: wrap;
}

.form-contact-field {
    width: 100%;
    margin-top: 50px;
    padding-right: 16px;
}

.form-contact-field-half {
    width: 50%;
}

.form-contact-input {
    width: 100%;
    padding: 21px 36px;
    font-size: 20px;
    line-height: 27px;
    border: none;
    border-radius: 5px;
    background-color: $background-color-inner;
}

textarea {
    padding: 20px;
    font-family: inherit;
    font-size: 20px;
    line-height: 27px;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: $background-color-inner;
}

.form-contact-label {
    padding: 10px;
    font-family: inherit;
    font-size: 20px;
    line-height: 27px;
    color: $after-main-color;
}

.form-contact-checkbox {
    margin: 0;
    // display: none;
    &+.form-contact-label {
        color: #152b3c;
    }
    &+.form-contact-label:before {
        content: '';
        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url('../icons/ic_round-check-box.svg');
        border-radius: 4px;
        border: 2px solid #000;
    }
    &:checked+.form-contact-label:before {
        box-shadow: inset 0 0 0 2px #fff;
    }
}
