.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #152b3c;
    color: #fbf2da;
}

.footer-inner {
    @include container();
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-size: 20px;
    line-height: 28px;
}

.social-icons-list {
    display: flex;
    list-style: none;
}

.social-icons-item {
    margin: 0 5px;
}

.social-links-instagram {
    display: block;
    padding: 13px 13px;
    text-decoration: none;
    background-image: url("../icons/insta.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.social-links-facebook {
    display: block;
    text-decoration: none;
    padding: 13px 13px;
    background-image: url("../icons/facebook.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.social-links-telegram {
    display: block;
    text-decoration: none;
    padding: 13px 13px;
    background-image: url("../icons/telega.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.social-links-text {
    display: none;
}
