.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #152b3c;
    color: #fbf2da;
}

.footer-inner {
    @include container();
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-wrap p {
    margin-left: 81px;
}

.copyright {
    font-size: 20px;
    line-height: 28px;
}

.social-icons {
    display: flex;
    width: 13%;
    margin-right: 81px;
    list-style: none;
}

.social-icons-item {
    width: 33.33%;
}

.social-icon {
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fbf2da;
}

.social-icons-insta {
    background-image: url('../icons/insta.svg');
}

.social-icons-facebook {
    background-image: url('../icons/facebook.svg');
}

.social-icons-telega {
    background-image: url('../icons/telega.svg');
}
