.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #152b3c;
    color: #fbf2da;
}

.footer-inner {
    @include container();
}

.footer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    margin-left: 81px;
    font-size: 20px;
    line-height: 28px;
}

.social-icons-item {
    display: block;
    width: 13.33%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fbf2da;
}

.social-icons {
    display: flex;
    width: 26px;
    height: 26px;
    margin-right: 81px;
    margin-left: auto;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: contain;
    list-style: none;
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.social-icons-insta {
    background-image: url('../icons/insta.svg');
}

.social-icons-facebook {
    background-image: url('../icons/facebook.svg');
}

.social-icons-telega {
    background-image: url('../icons/telega.svg');
}

.social-icons-links {
    display: block;
    text-decoration: none;
}
