.locations {
    margin: 0 auto;
    padding: $section-indent 0;
    background-color: rgba(251, 242, 218, 0.2);
}

.locations-inner {
    @include container;
}

.locations-title {
    @include h2;
}

.locations-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
}

.locations-item {
    width: 50%;
    padding: 16px;
}

.location-link {
    display: block;
    position: absolute;
    text-decoration: none;
}

.locations-item-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 30px;
    padding-right: 70px;
    margin-bottom: 30px;
    font-family: "Open-sans", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #fbf2da;
}

.location-card {
    position: relative;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
        & .location-link {
            left: 30;
            transition-duration: .8s;
            transition-timing-function: linear;
            transform: translateY(-60px);
        }
    }
}

.location-text {
    bottom: 0;
    left: 0;
    font-family: "Open-sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #fbf2da;
}
