.main-nav {
    @media (min-width: $tablet + 1) {
        display: block !important;
    }
    @media (max-width: $tablet) {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
    }
    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
        @media (max-width: $tablet) {
            justify-content: center;
        }
        @media (max-width: $mobile) {
            display: block;
        }
    }
    li {
        padding: 0 15px;
        background: transparent;
        transition-property: background;
        transition-duration: .5s;
        transition-timing-function: linear;
        &:hover {
            background-color: $after-main-color;
            @media (max-width: $tablet) {
                background-color: initial;
            }
        }
        @media (max-width: $mobile) {
            // margin: 0px 16px;
        }
    }
    a {
        display: block;
        padding: 33px 0;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: inherit;
        text-decoration: none;
        @media (max-width: $mobile) {
            padding: 10px 0;
            text-align: center;
        }
    }
}
