.promo {
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.promo-inner {
    @include container;
}

.promo-wrap {
    display: flex;
}

.promo-info {
    padding: 191px 171px 235px 170px;
}

.promo h1 {
    margin: 0 auto;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 116px;
    line-height: 136px;
    color: #fff;
    text-align: center;
}

.promo-text {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #fff;
    text-align: center;
}