.promo {
    padding-top: 300px;
    padding-bottom: 230px;
    background-image: url('../images/promo-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo-inner {
    @include container;
}

.promo-info {
    margin: 0 auto;
}

.promo-logo {
    padding-left: 430px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 116px;
    line-height: 136px;
    color: #fff;
    text-align: center;
}

.promo-title {
    margin: 0 auto;
    padding-left: 170px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #fff;
}
