.team {
    margin: 0 auto;
    padding: $section-indent 0;
    background-color: $background-color-inner;
}

.team-inner {
    @include container;
}

.team-list {
    display: flex;
    margin: 0 -15px;
}

.team-item {
    width: 25%;
    padding: 15px;
}

.team-link {
    display: block;
    position: relative;
    color: #fbf2da;
    border-radius: 8px;
    overflow: hidden;
    &.active {
        box-shadow: 0 0 0 5px $after-main-color;
    }
}

.team-title {
    @include h2;
}

.team-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 24px;
    line-height: 33px;
    padding: 10px;
    text-align: center;
    background-color: rgba(21, 43, 60, 0.7);
}

.team-img {
    display: block;
    width: 100%;
}

.team-desc {
    font-size: 20px;
    line-height: 27px;
    color: #152b3c;
    display: none;
    &.active {
        display: block;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 0.5s;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.team-desc-title {
    @include h3;
    text-align: left;
}
