.team {
    margin: 0 auto;
}

.team-inner {
    @include container;
    background-color: $background-color-inner;
}

.team-list {
    display: flex;
    margin: 0 81px;
}

.team-item {
    width: 25%;
    padding: 16px;
    // border: 1px solid transparent;
}

.team-link {
    display: block;
    position: relative;
    color: #fbf2da;
    border: 6px solid transparent;
    &.active {
        border-color: $after-main-color;
        border-radius: 8px;
    }
}

.team-title {
    @include h2;
}

.team-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(21, 43, 60, 0.7);
    border-radius: 0 0 8px 8px;
}

.team-img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.team-desc {
    margin: 0 81px;
    margin-bottom: 100px;
    font-size: 20px;
    line-height: 27px;
    color: #152b3c;
}

.team-desc-title {
    @include h3;
    text-align: left;
}
