@mixin container {
    width: $width;
    margin: 0 auto;
    border: 1px solid;
}

@mixin h2 {
    margin-top: 100px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: $after-main-color;
}