// $h1-fz-mobile: 20px;
// $h1-fz-tablet: 32px;
// $h1-fz-desktop: 48px;
// $h1-fw: 400;
//fonts
//Titles
$title-color: #d46240;
$title-size: 58px;
//Colors
// $title-color: #d46240, font-weight: 300;
// $title-size: 58px, line-height: 68px;
//Types
$width:1440px;
// Indents
$section-top-indent: 100px;