// $h1-fz-mobile: 20px;
// $h1-fz-tablet: 32px;
// $h1-fz-desktop: 48px;
// $h1-fw: 400;
//fonts
//Titles
$after-main-color: #d46240;
$title-size: 58px;
//Colors
$background-color-inner:#fbf2da;
//Types
$width:1280px;
// Indents
$section-indent: 100px;
// Brakepoints
$mobile: 767px;
$tablet: 1279px;
